<section class="section background">
  <div class="section__title">Bio</div>
  <div class="section__content">
    <p>
      My research interest spans broadly in computer systems, including high performance computing, operating systems
      and distributed systems. My
      research focuses on building high performance and reliable systems.
    </p>

    <p>
      I obtained my B.E. degree in Computer Science from <a class="underline-link" href="https://shanghaitech.edu.cn"
        target="_blank">ShanghaiTech University</a> in July 2025. During my
      undergraduate years, I was fortunate to work with <a class="underline-link"
        href="https://sites.google.com/view/yitingxia/home?authuser=0" target="_blank">Prof. Yiting Xia</a> at
      <a class="underline-link" href="https://www.mpi-inf.mpg.de/" target="_blank">Max
        Planck Institute for Informatics</a>, focusing on optical data center networks. I also worked with <a
        class="underline-link" href="https://www.yangzhice.com" target="_blank">Prof. Zhice
        Yang</a> at ShanghaiTech on asymmetric multi-core systems scheduling and <a class="underline-link"
        href="http://sist.shanghaitech.edu.cn/jiangzhh/main.htm" target="_blank">Prof. Zhihao Jiang</a> on formal
      verification for medical
      diagnosis. Moreover, I was the leader of <a class="underline-link" href="https://hpc.geekpie.club/"
        target="_blank">Geekpie HPC</a> during 2023-2024, actively participating in student
      cluster competitions and providing public services (e.g. <a class="underline-link"
        href="https://mirrors.shanghaitech.edu.cn/" target="_blank">ShanghaiTech Mirror</a>).
    </p>

    <p>
      Prior to UIUC, I was a HPC infrastructure engineer at <a class="underline-link"
        href="https://www.linkedin.com/company/%E4%B9%9D%E5%9D%A4%E6%8A%95%E8%B5%84-%E5%8C%97%E4%BA%AC-%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/"
        target="_blank">Ubiquant</a>, where I worked on building high performance storage systems for LLM training and
      inference. I also interned at <a class="underline-link" href="https://tencent.com" target="_blank">Tencent</a> as
      a system software developer in 2024. I'm also a Rust enthusiast and a regular contributor to <a
        class="underline-link" href="https://github.com/rust-lang/rust-clippy" target="_blank">
        Rust Clippy</a>, where I
      helped triage issues and give bug fixes and lint improvements.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I enjoy swimming, cooking, video games and traveling.
    </p>

    <!-- {% include employment-status.html %} -->
    <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>
  </div>
</section>