<section class="section background">
  <div class="section__title">Bio</div>
  <div class="section__content">
    <p>
      My research interest spans broadly in computer systems, including high performance computing, operating systems
      and distributed systems. My research focuses on building high performance and reliable systems.
    </p>

    <p>
      I obtained my B.E. degree in Computer Science from <a class="underline-link" href="https://shanghaitech.edu.cn"
        target="_blank">ShanghaiTech University</a> in July 2025. During my undergraduate years, I was fortunate to work
      with <a class="underline-link" href="https://sites.google.com/view/yitingxia/home?authuser=0"
        target="_blank">Prof. Yiting Xia</a> at <a class="underline-link" href="https://www.mpi-inf.mpg.de/"
        target="_blank">Max Planck Institute for Informatics</a>, focusing on optical data center networks. I also
      worked with Profs. <a class="underline-link" href="https://www.yangzhice.com" target="_blank">Zhice Yang</a> and
      <a class="underline-link" href="http://sist.shanghaitech.edu.cn/jiangzhh/main.htm" target="_blank">Zhihao
        Jiang</a> at ShanghaiTech on multi-core systems scheduling and formal verification for medical diagnosis.
    </p>

    <p>
      Prior to UIUC, I was a HPC infra engineer at <a class="underline-link"
        href="https://www.linkedin.com/company/%E4%B9%9D%E5%9D%A4%E6%8A%95%E8%B5%84-%E5%8C%97%E4%BA%AC-%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/"
        target="_blank">Ubiquant</a>, where I built high-performance storage systems for LLMs. I also led the <a
        class="underline-link" href="https://hpc.geekpie.club/" target="_blank">Geekpie HPC</a> team in ISC'24 and
      ASC'24. Moreover, I interned as a software engineer at <a class="underline-link" href="https://tencent.com"
        target="_blank">Tencent</a> in 2024. I'm also a Rust enthusiast and a
      regular contributor to <a class="underline-link"
        href="https://github.com/search?q=org%3Arust-lang+author%3Aprofetia&type=commits" target="_blank">
        Clippy</a>.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I enjoy swimming, cooking, and traveling.
    </p>

    <!-- {% include employment-status.html %} -->
    <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>
  </div>
</section>