<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Linshu Yang</span>, a first-year Computer Science master's student at
    <a href="https://illinois.edu/" class="underline-link" target="_blank">University of Illinois Urbana-Champaign.</a>
  </h2>

  <span class="intro__profile">
    <img src="/img/profile.jpeg" alt="Profile" style="border-radius: 25%;">
  </span>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:linshuy2@illinois.edu" target="_blank" class="highlight-link">linshuy2 at illinois.edu</a>
    </span>
  </h3>
</header>