<section class="section other-projects">
  <div class="section__title">Publications</div>
  <div class="section__content">
    {% for project in site.data.other-projects %}
    <div class="project">
      <div class="project__name">
        <a href="{{project.url}}" target="_blank" class="arrow-link">{{project.name}}</a>
      </div>
      <p style="margin-bottom: 10px;">{{project.description}}</p>
      <div class="project__used">
        <strong class="project__used__label">{{project.label}}</strong>
        {% for item in project.used %}
        <a href="{{item.url}}" target="_blank" class="project__used__item">{{item.label}}</a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>