<!-- footer -->
<footer class="footer" style="padding-top: 4rem; padding-bottom: 2rem">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <span class="copyright">Website format from <a
                        href="http://www.ericwadkins.com/">Eric Wadkins</a>
                </span>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top js-scroll-trigger" href="index.html#">
    <i class="fa fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts -->
<!--<script src="js/stylish-portfolio.js"></script>-->
<script src="js/agency.js"></script>
